<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phonic</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base.css') }}"
    />
  </head>
  <body>
    <div class="page-container">
      <nav>
          <a href="{{ url_for('homepage') }}">
            <h2>Phonic</h2>
          </a>
          <ul>
            <li>
              <a href="{{ url_for('homepage') }}">
                <h3>Home</h3>
              </a>
            </li>
            <li>
              <a href="{{ url_for('audio.docs') }}">
                <h3>Guide</h3>
              </a>
            </li>
          </ul>
        </li>
      </nav>
      <div class="big-text-container">
          {% block container %} {% endblock%}
      </div>
    </div>
  </body>
</html>